{% extends 'base.html' %} {% block content %}
<div>
  <h1>講座</h1>

  <section>
    {% if object_list|length == 0 %}
    <p>該当する顧客が存在しません。</p>
    {% else %}
    <table>
      <tr>
        <thead>
          <th>PK</th>
          <th>講座名</th>
          <th>Collection ID</th>
          <th>動画数</th>
          <th>コース時間（分）</th>
          <th>登録日</th>
          <th>更新日</th>
        </thead>
        <tbody>
          {% for course in object_list %}
          <tr>
            <td>{{ course.pk }}</td>
            <td>
              <a href="{% url 'course_detail' course.pk %}"> {{ course.name }} </a>
            </td>
            <td>{{ course.bunny_collection_id }}</td>
            <td>{{ course.video_count }}</td>
            <td>{{ course.total_duration }}</td>
            <td>{{ course.created_at }}</td>
            <td>{{ course.updated_at }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </tr>
    </table>
    {% endif %}
  </section>
  <div style="margin-top: 20px">
    <a href="{% url 'course_add' %}">コース追加</a>
  </div>
</div>
{% endblock %}
