{% extends 'base.html' %} {% block content %}
<div>
  <h1>講座詳細</h1>



  <section id="customer-detail">
    <table>
      <tbody>
        <tr>
          <th>Collection ID</th>
          <td>{{ object.bunny_collection_id }}</td>
        </tr>
        <tr>
          <th>講座名</th>
          <td>{{ object.name }}</td>
        </tr>
        <tr>
          <th>作成日</th>
          <td>{{ object.created_at }}</td>
        </tr>
        <tr>
          <th>更新日</th>
          <td>{{ object.updated_at }}</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section id="video-list">
    <h2>講座動画一覧</h2>
    {% if videos|length == 0 %}
    <p>No Videos found</p>
    {% else %}
    <table>
      <thead>
        <th>ID</th>
        <th>動画名</th>
        <th>時間（分）</th>
        <th>作成日</th>
        <th>更新日</th>
      </thead>

      <tbody>
        {% for video in videos %}
        <tr>
          <td>{{ video.bunny_video_id }}</td>
          <td>
            <a href="{% url 'video_detail' course.pk video.pk %}"> {{ video.title }} </a>
          </td>
          <td>{{ video.duration }}</td>
          <td>{{ video.created_at }}</td>
          <td>{{ video.updated_at }}</td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
    {% endif %}
  </section>
  {% comment %} <div style="margin-top: 50px;">
    <a href="{% url 'management:customers_add' %}"><i class="fas fa-plus"></i></a>
  </div> {% endcomment %}
</div>
{% endblock %}
