{% extends 'base.html' %} {% load custom_tags %} {% block content %}
<div>
  <h1>講座詳細</h1>
  <section id="customer-detail">
    <table>
      <tbody>
        <tr>
          <th>Collection ID</th>
          <td>{{ object.bunny_collection_id }}</td>
        </tr>
        <tr>
          <th>講座名</th>
          <td>{{ object.name }}</td>
        </tr>
        <tr>
          <th>コース時間</th>
          <td>{{ object.get_total_duration | seconds_to_time_str }}</td>
        </tr>
        <tr>
          <th>コース進捗</th>
          <td>{{ object|call_get_course_progress:request.user }}%</td>
        </tr>
        <tr>
          <th></th>
          <td>
            <a href="{% url 'course_update' object.pk %}">コース情報編集</a>
            <a href="{% url 'course_delete' object.pk %}">コース削除</a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section id="video-list">
    <h2>講座動画一覧</h2>
    {% if videos|length == 0 %}
    <p>No Videos found</p>
    {% else %}
    <table>
      <thead>
        <th>ID</th>
        <th>動画名</th>
        <th>時間（分）</th>
        <th>動画進捗</th>
        <th>メニュー</th>
      </thead>

      <tbody>
        {% for video in videos %}
        <tr>
          <td>{{ video.bunny_video_id }}</td>
          <td>
            <a href="{% url 'video_detail' course.pk video.pk %}"> {{ video.title }} </a>
          </td>
          <td>{{ video.duration | seconds_to_time_str }}</td>
          <td>{{ video | call_get_progress_for_user:request.user }}%</td>
          <td>
            <a href="{% url 'video_update' course.pk video.pk %}">動画情報変更</a>
            <a href="{% url 'video_delete' course.pk video.pk %}">動画削除</a>
          </td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
    {% endif %}
  </section>
  <div style="margin-top: 20px">
    <a href="{% url 'video_add' course.pk %}">動画追加</a>
  </div>
  <div style="margin-top: 20px">
    <a href="{% url 'course_index' %}">コース一覧へ戻る</a>
  </div>
</div>
{% endblock %}
