{% extends 'base.html' %} {% load custom_tags %} {% block content %}
<div class="container-fluid">
  <h1>コース情報編集</h1>

  <form method="post" enctype="multipart/form-data">
    <section class="course-update">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th class="table-secondary">コースタイトル</th>
                <td>{{ form.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <button type="submit">更新</button>
    <a href="{% url 'course_delete' object.pk %}">削除</a>
  </form>
</div>
{% endblock %}
