{% extends 'base.html' %} {% load custom_tags %} {% block content %}
<div class="container-fluid">
  <h1>動画情報編集</h1>

  <form method="post" enctype="multipart/form-data">
    <section class="video-update">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th class="table-secondary">動画タイトル</th>
                <td>{{ form.title }}</td>
              </tr>
              <tr>
                <th class="table-secondary">コース</th>
                <td>{{ form.course }}</td>
              </tr>
              <tr>
                <th class="table-secondary">時間</th>
                <td>
                  <span>{{ object.duration|seconds_to_time_str }}</span>　<button
                    type="submit"
                    name="sync_duration"
                  >
                    sync
                  </button>
                </td>
              </tr>
              <tr>
                <th class="table-secondary">備考</th>
                <td>{{ form.description }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <button type="submit">更新する</button>
    <a href="{% url 'video_delete' object.course.pk object.pk %}">動画削除</a>
  </form>
</div>
{% endblock %}
